.svn/
model/.classpath
model/.project
model/.settings/
model/target/
rpc-interface/.classpath
rpc-interface/.project
rpc-interface/.settings/
rpc-interface/target/
server/.classpath
server/.project
server/.settings/
server/target/
webapp/.classpath
webapp/.project
webapp/.settings/
webapp/src/main/java/org/openxdata/client/AppMessages.properties
webapp/src/main/java/org/openxdata/client/AppMessages_en.properties
webapp/src/main/java/org/openxdata/client/AppMessages_ny.properties
webapp/src/main/java/org/openxdata/client/AppMessages_pt.properties
webapp/src/main/java/org/openxdata/client/AppMessages_st.properties
webapp/src/main/java/org/openxdata/client/PurcformsText.properties
webapp/src/main/java/org/openxdata/client/PurcformsText_en.properties
webapp/src/main/java/org/openxdata/client/PurcformsText_ny.properties
webapp/src/main/java/org/openxdata/client/PurcformsText_pt.properties
webapp/src/main/java/org/openxdata/client/PurcformsText_st.properties
webapp/src/main/java/org/openxdata/server/admin/client/VersionInfo.java
webapp/target/
webapp/war/Emit.css
webapp/war/WEB-INF/classes/
protocol-providers/mforms-proto/.classpath
protocol-providers/mforms-proto/.project
protocol-providers/mforms-proto/.settings/
protocol-providers/mforms-proto/target/
webapp/war/OpenXDataServerAdmin/
webapp/war/WEB-INF/deploy/
webapp/war/WEB-INF/lib/
webapp/war/emit/
webapp/openxdata.log*
.DS_Store
webapp/war/WEB-INF/protocol-jars/*.jar
webapp/war/WEB-INF/web.xml
webapp/bin
